# Manipulacion de datos con Pandas

In [3]:
# Impotamos las lbrerias necesarias
import numpy as np
import math as mt
import matplotlib.pyplot as plt
import pandas as pd
import requests
import os

In [7]:
pd?

## INTRODUCCION A LOS OBJETOS DE PANDAS

### EL OBJETO SERIES DE PANDAS

Una serie de Pandas es un arreglo de una dimension de datos con indices. Ejemplo de creacion:

In [9]:
# ARREGLO CON FLOTANTES
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [10]:
# ARREGLO CON ENTEROS
data1 = pd.Series([50, 100, -50, -200])
data1

0     50
1    100
2    -50
3   -200
dtype: int64

Los datos de salida son una lista con un indice. Se puede acceder a estos valores de la siguiente manera:

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [12]:
data1.values

array([  50,  100,  -50, -200])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data1.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
data[0]

0.25

In [19]:
data[0:3]

0    0.25
1    0.50
2    0.75
dtype: float64

In [20]:
data1[0]

50

In [21]:
data1[0:3]

0     50
1    100
2    -50
dtype: int64

### LAS SERIES COMO ARREGLOS GENERALIZADOS DE NUMPY

Las series no necesariamente llevan un indice con valor numerico, pueden ser una cadena de caracteres, por ejemplo:

In [22]:
data3 = pd.Series([10, 20, 30, 40],
                 index=['hola1', 'hola2', 'hola3', 'hola4'])
data3

hola1    10
hola2    20
hola3    30
hola4    40
dtype: int64

Ejemplo de como accesar a esta serie mediante su indice:

In [24]:
data3['hola3']

30

### SERIES COMO DICCIONARIOS ESPECIALIZADOS

En algunas ocasiones en que se manipulan series, es conveniente trabajarlas como diccionarios, que son basicamente series con indices en forma de cadenas de texto. Estas series pueden construirse apartir de objetos directamente desde un diccionario de Python. Por ejemplo:

In [25]:
medidas = {'masa1': 383.32521,
                   'peso1': 264.48193,
                   'volumen1': 196.51127,
                   'temperatura1': 195.52860,
                   'presion1': 128.82135}
medida = pd.Series(medidas)
medida

masa1           383.32521
peso1           264.48193
volumen1        196.51127
temperatura1    195.52860
presion1        128.82135
dtype: float64

In [26]:
medida['volumen1']

196.51127

### CONSTRUYENDO AL OBJETO SERIE

In [ ]:
#codigo base
pd.Series(data, index=index)
# index es un valor opcional

Ejemplos:

In [29]:
pd.Series([13,20,15,1111111])

0         13
1         20
2         15
3    1111111
dtype: int64

In [30]:

pd.Series(5, index=[1, 558, 7])

1      5
558    5
7      5
dtype: int64

### EL OBJETO MARCO DE DATOS DE PANDAS

Los marcos de datos de pandas son series que contienen mas de un arreglo de datos con el mismo indice:

In [6]:
unidad = {'ACERO': 'TON',
                   'CONCRETO': 'TON',
                   'CARBON': 'TON',
                   'PETROLEO': 'BARRIL',
                   'GAS': 'M3',
                   'GASOLINA': 'LITRO'}
unidades = pd.Series(unidad)
unidad

{'ACERO': 'TON',
 'CONCRETO': 'TON',
 'CARBON': 'TON',
 'PETROLEO': 'BARRIL',
 'GAS': 'M3',
 'GASOLINA': 'LITRO'}

In [3]:
precio = {'ACERO': 10000, 'CONCRETO': 5000, 'CARBON': 2500, 'PETROLEO': 300, 'GAS': 250, 'GASOLINA': 20}
precios = pd.Series(precio)
precios

ACERO       10000
CONCRETO     5000
CARBON       2500
PETROLEO      300
GAS           250
GASOLINA       20
dtype: int64

Ahora construimos un objeto bidimensional con estas dos series

In [9]:
    productos = pd.DataFrame({'precios': precios,'unidades': unidades,})
    productos

          precios unidades
ACERO       10000      TON
CONCRETO     5000      TON
CARBON       2500      TON
PETROLEO      300   BARRIL
GAS           250       M3
GASOLINA       20    LITRO

De forma similar a las series, los marcos de datos tienen un indice que da acceso a las etiquetas:

In [10]:
productos.index

Index(['ACERO', 'CONCRETO', 'CARBON', 'PETROLEO', 'GAS', 'GASOLINA'], dtype='object')

Tambien se puede accesar a las columnas:

In [11]:
productos.columns

Index(['precios', 'unidades'], dtype='object')

### MARCOS DE DATOS COMO DICCIONARIOS ESPECIALIZADOS

A partir de un Dataframe podemos llamar a sus atributos y se obtener una serie original con la que se creo el Dataframe:

In [12]:
productos['precios']

ACERO       10000
CONCRETO     5000
CARBON       2500
PETROLEO      300
GAS           250
GASOLINA       20
Name: precios, dtype: int64

### Construyendo Dataframes

Existen diversas formas de crear un Dataframe:

-Apartir de una simple serie:

In [13]:
pd.DataFrame(precios, columns=['precios'])

          precios
ACERO       10000
CONCRETO     5000
CARBON       2500
PETROLEO      300
GAS           250
GASOLINA       20

-Desde una lista de diccionarios:

In [15]:
datos = [{'a': i, 'b': 2 * i, 'c': 3 * i, 'c': 3 * i}
        for i in range(4)]
pd.DataFrame(datos)

   a  b  c
0  0  0  0
1  1  2  3
2  2  4  6
3  3  6  9

-Desde un diccionario de objetos Serie:

In [21]:
productos = pd.DataFrame({'precios': precios,'unidades': unidades,})
productos

          precios unidades
ACERO       10000      TON
CONCRETO     5000      TON
CARBON       2500      TON
PETROLEO      300   BARRIL
GAS           250       M3
GASOLINA       20    LITRO

-Desde un arreglo bidimensional de numpy:

In [35]:
pd.DataFrame(np.array([('TON', 1000), ('TON', 500), ('BARIIL', 200)]),
             columns=['UNIDAD', 'CANTIDAD'],
             index=['CONCRETO', 'ACERO', 'PETROLEO'])

          UNIDAD CANTIDAD
CONCRETO     TON     1000
ACERO        TON      500
PETROLEO  BARIIL      200

In [31]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['UNIDAD', 'CANTIDAD'],
             index=['CONCRETO', 'ACERO', 'PETROLEO'])

            UNIDAD  CANTIDAD
CONCRETO  0.003824  0.465131
ACERO     0.988109  0.387982
PETROLEO  0.945354  0.662622

### EL OBJETO INDICES DE PANDAS

Ejemplo de construccion de lista de indices para comenzar a ver sus propiedades:

In [36]:
ind = pd.Index([2, 2, 5, 7, 11])
ind

Int64Index([2, 2, 5, 7, 11], dtype='int64')

Los indices funcionan como arreglos, podemos usar la notacion de python para obtener un valor:

In [37]:
ind[4]

11

In [40]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

Los indices no pueden ser modificados con comandos normales:

In [41]:
ind[1] = 0

TypeError: Index does not support mutable operations

### INDICE COMO CONJUNTO ORDENADO

Las uniones, intersecciones, diferencias y otras combinaciones pueden ser obtenidas de forma similar a los comandos con arreglos de python:

In [45]:
indA = pd.Index(['ACERO', 'CONCRETO', 'GAS', 'GASOLINA'])
indB = pd.Index(['PETROLEO', 'HIERRO', 'CONCRETO', 'NIQUEL'])

In [46]:
indA & indB  # interseccion

Index(['CONCRETO'], dtype='object')

In [47]:
indA | indB  # union

Index(['ACERO', 'CONCRETO', 'GAS', 'GASOLINA', 'HIERRO', 'NIQUEL', 'PETROLEO'], dtype='object')

In [48]:
indA ^ indB  # diferencia simetrica

Index(['ACERO', 'GAS', 'GASOLINA', 'HIERRO', 'NIQUEL', 'PETROLEO'], dtype='object')

## SELECCION DE DATOS Y ASIGNACION DE INDICES

### SELECCION DE DATOS EN SERIES

Para esta seccion se utilizaran los datos de lluvia, temperatura maxima, temperatura minima y temperatura promedio de 2019 obtenidos del INEGI

In [4]:
# SE CARGAN LOS ARCHIVOS DE DATOS DE 2019
LLUVIA_2019 = pd.read_csv('201901010000Lluv.csv',encoding='latin-1')
TMAX_2019 = pd.read_csv('201901010000TMax.csv',encoding='latin-1')
TMIN_2019 = pd.read_csv('201901010000TMin.csv',encoding='latin-1')
TMED_2019 = pd.read_csv('201901010000TMed.csv',encoding='latin-1')

Se pueden utilizar expresiones similares a las de python para examinar los indices y valores:

In [3]:
'LON' in LLUVIA_2019

True

In [21]:
LLUVIA_2019

,LON,LAT,EDO,CLAVE_SIH,NOMBRE,ENE
0,-102.309722,21.895000,AGS,AGSAG,"Aguascalientes, Ags.",6.61
1,-102.466944,22.188611,AGS,ANVAG,"Cincuenta Aniversario, Ags.",10.60
2,-102.184167,21.738611,AGS,BRTAG,"San Bartolo, Ags.",10.50
3,-102.712222,21.849167,AGS,CALVILLO,"Calvillo, Ags. SMN*",18.17
4,-102.676944,21.997500,AGS,CDRAG,"La Codorniz, Ags.",16.70
5,-102.197222,22.007222,AGS,CHOAG,"Cañada Honda, Ags.",17.30
6,-102.189167,21.826667,AGS,CLVAG,"Calvillo, Ags.",9.20
7,-102.000000,21.896389,AGS,CNSAG,"Los Conos, Ags.",13.20
8,-102.296667,22.362778,AGS,CSOAG,"Cosío, Ags.",7.20
9,-102.356944,22.121667,AGS,JCQAG,"Jocoque, Ags.",6.30
10,-102.788333,21.807500,AGS,MNLAG,"Media Luna, Ags.",24.30
11,-102.371667,21.780000,AGS,NGRAG,"El Niagara, Ags.",5.51
12,-102.001944,22.020556,AGS,NVLAG,"El Novillo, Ags.",15.50
13,-102.290556,21.850833,AGS,OBSAG,"Observatorio de Aguascalientes, Ags.",8.71
14,-102.465000,22.189167,AGS,P50ANIV,"Presa Cincuenta Aniversario, Ags. SMN*",10.40
15,-101.966667,21.916667,AGS,PALAG,"Palo Alto, Ags.",11.00
16,-102.291944,22.162500,AGS,PBLAG,"Pabellón, Ags.",6.80
17,-102.417222,22.141111,AGS,PECAG,"Plutarco Elías Calles, Ags.",6.00
18,-102.133333,22.202778,AGS,PTOAG,"Puerto de la Concepción, Ags.",11.53
19,-102.437500,22.235000,AGS,PTRAG,"Derivadora Pabellón, Ags.",17.41
20,-102.108889,21.885000,AGS,SNVAG,"Sandovales, Ags.",6.00
21,-102.127778,21.807778,AGS,TNJAG,"La Tinaja 2, Ags.",11.00
22,-102.067500,22.097778,AGS,VJZAG,"Villa Juárez, Ags.",22.20
23,-116.204167,32.271944,BC,AGHBN,"Agua Hechicera, B.C.",18.82
24,-116.908333,32.444722,BC,ALRBN,"Abelardo L. Rodríguez, B.C.",48.20
25,-114.719167,29.727222,BC,CATAVINA,"Cataviña, B.C. SMN*",11.31
26,-116.696944,32.479444,BC,CRRBN,"El Carrizo, B.C.",58.70
27,-116.828333,32.468056,BC,EFLBN,"El Florido, B.C.",20.60
28,-116.602500,31.890278,BC,ELZBN,"Emilio López Zamora, B.C.",48.42
29,-115.150000,32.411111,BC,ENLBN,"Ejido Nuevo León, B.C.",8.90
...,...,...,...,...,...,...
1211,-103.001944,22.642778,ZAC,JERZC,"Jerez, Zac.",6.60
1212,-102.566944,22.778889,ZAC,LBUZC,"La Bufa, Zac.",7.70
1213,-103.603056,22.686944,ZAC,LFLZC,"La Florida, Zac.",2.51
1214,-102.660556,22.996944,ZAC,LLBZC,"Llano Blanco, Zac.",20.80
1215,-103.382778,22.845278,ZAC,LOBZC,"Manuel Felgueres, Zac.",13.50
1216,-101.985556,22.264722,ZAC,LORZC,"Loreto, Zac.",13.61
1217,-103.216944,23.180000,ZAC,LREZC,"Gobernador Leobardo Reynoso, Zac.",8.00
1218,-103.363889,21.212500,ZAC,MORZC,"Mezquital del Oro, Zac.",22.02
1219,-103.561667,22.306944,ZAC,MRSZC,"Monte Escobedo, Zac.",6.02
1220,-102.845556,21.357500,ZAC,NCTZC,"Nochistlán, Zac.",29.70
1221,-102.615000,24.983056,ZAC,NTAZC,"Nuevo Tampico, Zac.",4.80
1222,-102.798056,22.347778,ZAC,PALZC,"Palomas, Zac.",9.80
1223,-101.399167,22.117500,ZAC,PINZC,"Pino Suárez, Zac.",3.50
1224,-102.903611,21.711111,ZAC,PMOZC,"Moraleños, Zac.",15.70
1225,-103.025833,23.816944,ZAC,RGRZC,"Río Grande, Zac.",3.61
1226,-102.884444,24.322222,ZAC,SFOZC,"San Francisco, Zac.",9.70
1227,-103.506111,24.288611,ZAC,SGOZC,"Santiago, Zac.",5.00
1228,-103.636667,23.638889,ZAC,SOMZC,"Sombrerete, Zac.",1.60
1229,-103.495833,22.326667,ZAC,STEZC,"Santa Teresa (Independencia Nacional), Zac.",6.00
1230,-103.108889,22.923611,ZAC,STRZC,"Santa Rosa, Zac.",18.52
1231,-102.864167,22.120556,ZAC,TAYZC,"Ing. Julián Adame Alatorre, Zac.",13.50
1232,-103.879722,23.471944,ZAC,TCHZC,"Chalchihuites, Zac.",3.00
1233,-103.461944,21.468611,ZAC,TGOZC,"Teúl de González Ortega, Zac.",30.10
1234,-102.786389,21.560556,ZAC,TLAZC,"Tlalchichila, Zac.",25.01
1235,-103.309444,21.773611,ZAC,TLLZC,"Tlaltenango, Zac.",14.02
1236,-102.344167,23.288611,ZAC,VCOZC,"Villa de Cos, Zac.",7.00
1237,-101.916944,22.520278,ZAC,VGOZC,"Villa González Ortega, Zac.",32.32
1238,-101.715833,22.347500,ZAC,VHGZC,"Villa Hidalgo, Zac.",9.70
1239,-103.337500,21.588889,ZAC,VILZC,"José María Morelos, Zac.",15.20
1240,-102.576667,22.761389,ZAC,ZACZC,"Zacatecas, Zac.",12.02

In [4]:
LLUVIA_2019.LON[0]

-102.309722

In [5]:
LLUVIA_2019.LON

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
5      -102.197222
6      -102.189167
7      -102.000000
8      -102.296667
9      -102.356944
10     -102.788333
11     -102.371667
12     -102.001944
13     -102.290556
14     -102.465000
15     -101.966667
16     -102.291944
17     -102.417222
18     -102.133333
19     -102.437500
20     -102.108889
21     -102.127778
22     -102.067500
23     -116.204167
24     -116.908333
25     -114.719167
26     -116.696944
27     -116.828333
28     -116.602500
29     -115.150000
           ...
1211   -103.001944
1212   -102.566944
1213   -103.603056
1214   -102.660556
1215   -103.382778
1216   -101.985556
1217   -103.216944
1218   -103.363889
1219   -103.561667
1220   -102.845556
1221   -102.615000
1222   -102.798056
1223   -101.399167
1224   -102.903611
1225   -103.025833
1226   -102.884444
1227   -103.506111
1228   -103.636667
1229   -103.495833
1230   -103.108889
1231   -102.864167
1232   -103.879722
1233   -103.461944
1234   -102.786389
1235   -103.309444
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

In [6]:
print(LLUVIA_2019.keys())

Index(['LON', 'LAT', 'EDO', 'CLAVE_SIH', 'NOMBRE', 'ENE'], dtype='object')

In [7]:
print(TMAX_2019.keys())

Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmax'], dtype='object')

In [8]:
print(TMIN_2019.keys())

Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmin'], dtype='object')

In [9]:
print(TMED_2019.keys())

Index(['Lon', 'Lat', 'Clave', 'Edo', 'Est', 'Tmed'], dtype='object')

### SERIES COMO UN ARREGLO DE UNA DIMENSION

De forma similar a los comandos de python, se pueden usar comandos para filtrar la informacion de una serie:

In [10]:
LLUVIA_2019.LON[0:5] # corte o slice

0   -102.309722
1   -102.466944
2   -102.184167
3   -102.712222
4   -102.676944
Name: LON, dtype: float64

In [11]:
LLUVIA_2019.LON[(LLUVIA_2019.LON > -102.4) & (LLUVIA_2019.LON < -102.3)] # masking

0      -102.309722
9      -102.356944
11     -102.371667
595    -102.371667
596    -102.371111
628    -102.325000
938    -102.371667
1202   -102.347222
1236   -102.344167
Name: LON, dtype: float64

In [12]:
LLUVIA_2019.LON[[0, 4]] # fancy indexing

0   -102.309722
4   -102.676944
Name: LON, dtype: float64

### INDEXERS: LOC, ILOC, E IX

Las funciones loc, iloc, e ix permiten llamar a los indices de una serie y permitirnos diferenciar entre los indices usados para las Series y los indices usados en python.

El atributo loc permite indexar y cortar series refernciadas a un indice explcito:

In [14]:
LLUVIA_2019.LON.loc[1]

-102.466944

In [15]:
LLUVIA_2019.LON.loc[1:3]

1   -102.466944
2   -102.184167
3   -102.712222
Name: LON, dtype: float64

El atributo iloc permite indexar y cortar series refernciadas a un indice estilo python:

In [17]:
LLUVIA_2019.LON.iloc[1]

-102.466944

In [18]:
LLUVIA_2019.LON.iloc[1:3]

1   -102.466944
2   -102.184167
Name: LON, dtype: float64

El atributo ix es un hibrido entre los dos anteriores:

In [19]:
LLUVIA_2019.LON.ix[1]

/home/luiscantero/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

-102.466944

In [20]:
LLUVIA_2019.LON.ix[1:3]

/home/luiscantero/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1   -102.466944
2   -102.184167
3   -102.712222
Name: LON, dtype: float64

### Dataframes como arreglos de dos dimensiones:

In [22]:
LLUVIA_2019.LON is LLUVIA_2019['LON']

True

In [23]:
LLUVIA_2019['LON']

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
5      -102.197222
6      -102.189167
7      -102.000000
8      -102.296667
9      -102.356944
10     -102.788333
11     -102.371667
12     -102.001944
13     -102.290556
14     -102.465000
15     -101.966667
16     -102.291944
17     -102.417222
18     -102.133333
19     -102.437500
20     -102.108889
21     -102.127778
22     -102.067500
23     -116.204167
24     -116.908333
25     -114.719167
26     -116.696944
27     -116.828333
28     -116.602500
29     -115.150000
           ...
1211   -103.001944
1212   -102.566944
1213   -103.603056
1214   -102.660556
1215   -103.382778
1216   -101.985556
1217   -103.216944
1218   -103.363889
1219   -103.561667
1220   -102.845556
1221   -102.615000
1222   -102.798056
1223   -101.399167
1224   -102.903611
1225   -103.025833
1226   -102.884444
1227   -103.506111
1228   -103.636667
1229   -103.495833
1230   -103.108889
1231   -102.864167
1232   -103.879722
1233   -103.461944
1234   -102.786389
1235   -103.309444
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

Recordatorio: Se pueden llamar los valores de una serie en los Data frame con 'values':

In [24]:
LLUVIA_2019['LON'].values

array([-102.309722, -102.466944, -102.184167, ..., -101.715833,
       -103.3375  , -102.576667])

Ejemplo de como transponer el Dataframe para cambiar filas por columnas:

In [30]:
LLUVIA_2019['LON'].T

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
5      -102.197222
6      -102.189167
7      -102.000000
8      -102.296667
9      -102.356944
10     -102.788333
11     -102.371667
12     -102.001944
13     -102.290556
14     -102.465000
15     -101.966667
16     -102.291944
17     -102.417222
18     -102.133333
19     -102.437500
20     -102.108889
21     -102.127778
22     -102.067500
23     -116.204167
24     -116.908333
25     -114.719167
26     -116.696944
27     -116.828333
28     -116.602500
29     -115.150000
           ...
1211   -103.001944
1212   -102.566944
1213   -103.603056
1214   -102.660556
1215   -103.382778
1216   -101.985556
1217   -103.216944
1218   -103.363889
1219   -103.561667
1220   -102.845556
1221   -102.615000
1222   -102.798056
1223   -101.399167
1224   -102.903611
1225   -103.025833
1226   -102.884444
1227   -103.506111
1228   -103.636667
1229   -103.495833
1230   -103.108889
1231   -102.864167
1232   -103.879722
1233   -103.461944
1234   -102.786389
1235   -103.309444
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

De esta forma se puede introducir un indice simple para accesar a una fila:

In [31]:
LLUVIA_2019.values[0]

array([-102.309722, 21.895, 'AGS', 'AGSAG', 'Aguascalientes, Ags.', 6.61],
      dtype=object)

Ahora tmbien se puede pasar un indice a un Dataframe para accesar a una columna:

In [32]:
LLUVIA_2019.LON

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
5      -102.197222
6      -102.189167
7      -102.000000
8      -102.296667
9      -102.356944
10     -102.788333
11     -102.371667
12     -102.001944
13     -102.290556
14     -102.465000
15     -101.966667
16     -102.291944
17     -102.417222
18     -102.133333
19     -102.437500
20     -102.108889
21     -102.127778
22     -102.067500
23     -116.204167
24     -116.908333
25     -114.719167
26     -116.696944
27     -116.828333
28     -116.602500
29     -115.150000
           ...
1211   -103.001944
1212   -102.566944
1213   -103.603056
1214   -102.660556
1215   -103.382778
1216   -101.985556
1217   -103.216944
1218   -103.363889
1219   -103.561667
1220   -102.845556
1221   -102.615000
1222   -102.798056
1223   -101.399167
1224   -102.903611
1225   -103.025833
1226   -102.884444
1227   -103.506111
1228   -103.636667
1229   -103.495833
1230   -103.108889
1231   -102.864167
1232   -103.879722
1233   -103.461944
1234   -102.786389
1235   -103.309444
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

Usando iloc podemos partir un Dataframe sin que las etiquetas de los indices y las columnas se modifiquen:

In [34]:
LLUVIA_2019.iloc[:5, :5]

          LON        LAT  EDO CLAVE_SIH                       NOMBRE
0 -102.309722  21.895000  AGS     AGSAG         Aguascalientes, Ags.
1 -102.466944  22.188611  AGS     ANVAG  Cincuenta Aniversario, Ags.
2 -102.184167  21.738611  AGS     BRTAG            San Bartolo, Ags.
3 -102.712222  21.849167  AGS  CALVILLO          Calvillo, Ags. SMN*
4 -102.676944  21.997500  AGS     CDRAG            La Codorniz, Ags.

In [33]:
LLUVIA_2019.iloc[:3, :2]

          LON        LAT
0 -102.309722  21.895000
1 -102.466944  22.188611
2 -102.184167  21.738611

In [35]:
LLUVIA_2019.iloc[1:3, 1:2]

         LAT
1  22.188611
2  21.738611

Usando loc podemos partir un Dataframe usando el nombre explicito de columnas e indices:

In [40]:
LLUVIA_2019.loc[:3, :'CLAVE_SIH']

          LON        LAT  EDO CLAVE_SIH
0 -102.309722  21.895000  AGS     AGSAG
1 -102.466944  22.188611  AGS     ANVAG
2 -102.184167  21.738611  AGS     BRTAG
3 -102.712222  21.849167  AGS  CALVILLO

Usando ix podemos partir un Dataframe usando el nombre explicito de columnas e indices o el indice explicito del Dataframe o un combinado:

In [41]:
LLUVIA_2019.loc[:3, :'CLAVE_SIH']

          LON        LAT  EDO CLAVE_SIH
0 -102.309722  21.895000  AGS     AGSAG
1 -102.466944  22.188611  AGS     ANVAG
2 -102.184167  21.738611  AGS     BRTAG
3 -102.712222  21.849167  AGS  CALVILLO

Cualquier comando de familiar de numpy puede ser usado con estos 'indexers', por ejemplo:

In [43]:
LLUVIA_2019.loc[LLUVIA_2019.LAT > 21.8, ['LAT', 'EDO', 'CLAVE_SIH']]

            LAT  EDO CLAVE_SIH
0     21.895000  AGS     AGSAG
1     22.188611  AGS     ANVAG
3     21.849167  AGS  CALVILLO
4     21.997500  AGS     CDRAG
5     22.007222  AGS     CHOAG
6     21.826667  AGS     CLVAG
7     21.896389  AGS     CNSAG
8     22.362778  AGS     CSOAG
9     22.121667  AGS     JCQAG
10    21.807500  AGS     MNLAG
12    22.020556  AGS     NVLAG
13    21.850833  AGS     OBSAG
14    22.189167  AGS   P50ANIV
15    21.916667  AGS     PALAG
16    22.162500  AGS     PBLAG
17    22.141111  AGS     PECAG
18    22.202778  AGS     PTOAG
19    22.235000  AGS     PTRAG
20    21.885000  AGS     SNVAG
21    21.807778  AGS     TNJAG
22    22.097778  AGS     VJZAG
23    32.271944   BC     AGHBN
24    32.444722   BC     ALRBN
25    29.727222   BC  CATAVINA
26    32.479444   BC     CRRBN
27    32.468056   BC     EFLBN
28    31.890278   BC     ELZBN
29    32.411111   BC     ENLBN
30    32.705000   BC     JMRBN
31    32.390000   BC     MXCBN
...         ...  ...       ...
1202  22.453056  ZAC     CUAZC
1203  23.693333  ZAC     ELCZC
1204  22.673056  ZAC     ELSZC
1206  23.173889  ZAC     FREZC
1207  22.746667  ZAC     GPEZC
1208  22.487500  ZAC     GRCZC
1209  24.281667  ZAC     JALZC
1211  22.642778  ZAC     JERZC
1212  22.778889  ZAC     LBUZC
1213  22.686944  ZAC     LFLZC
1214  22.996944  ZAC     LLBZC
1215  22.845278  ZAC     LOBZC
1216  22.264722  ZAC     LORZC
1217  23.180000  ZAC     LREZC
1219  22.306944  ZAC     MRSZC
1221  24.983056  ZAC     NTAZC
1222  22.347778  ZAC     PALZC
1223  22.117500  ZAC     PINZC
1225  23.816944  ZAC     RGRZC
1226  24.322222  ZAC     SFOZC
1227  24.288611  ZAC     SGOZC
1228  23.638889  ZAC     SOMZC
1229  22.326667  ZAC     STEZC
1230  22.923611  ZAC     STRZC
1231  22.120556  ZAC     TAYZC
1232  23.471944  ZAC     TCHZC
1236  23.288611  ZAC     VCOZC
1237  22.520278  ZAC     VGOZC
1238  22.347500  ZAC     VHGZC
1240  22.761389  ZAC     ZACZC

[426 rows x 3 columns]

In [45]:
LLUVIA_2019.iloc[0:2]

          LON        LAT  EDO CLAVE_SIH                       NOMBRE    ENE
0 -102.309722  21.895000  AGS     AGSAG         Aguascalientes, Ags.   6.61
1 -102.466944  22.188611  AGS     ANVAG  Cincuenta Aniversario, Ags.  10.60

## Operando en datos de Pandas

### Ufuncs: preservacion de indices

Si aplicamos una Ufunc de numpy en un dataframe, el resultado sera otro objeto de Pandas con los indices preservados:

In [8]:
LLUVIA_2019.LON

0      -102.309722
1      -102.466944
2      -102.184167
3      -102.712222
4      -102.676944
5      -102.197222
6      -102.189167
7      -102.000000
8      -102.296667
9      -102.356944
10     -102.788333
11     -102.371667
12     -102.001944
13     -102.290556
14     -102.465000
15     -101.966667
16     -102.291944
17     -102.417222
18     -102.133333
19     -102.437500
20     -102.108889
21     -102.127778
22     -102.067500
23     -116.204167
24     -116.908333
25     -114.719167
26     -116.696944
27     -116.828333
28     -116.602500
29     -115.150000
           ...
1211   -103.001944
1212   -102.566944
1213   -103.603056
1214   -102.660556
1215   -103.382778
1216   -101.985556
1217   -103.216944
1218   -103.363889
1219   -103.561667
1220   -102.845556
1221   -102.615000
1222   -102.798056
1223   -101.399167
1224   -102.903611
1225   -103.025833
1226   -102.884444
1227   -103.506111
1228   -103.636667
1229   -103.495833
1230   -103.108889
1231   -102.864167
1232   -103.879722
1233   -103.461944
1234   -102.786389
1235   -103.309444
1236   -102.344167
1237   -101.916944
1238   -101.715833
1239   -103.337500
1240   -102.576667
Name: LON, Length: 1241, dtype: float64

In [7]:

np.exp(LLUVIA_2019.LON)

0       3.693621e-45
1       3.156252e-45
2       4.187744e-45
3       2.469726e-45
4       2.558408e-45
5       4.133428e-45
6       4.166858e-45
7       5.034575e-45
8       3.742157e-45
9       3.523255e-45
10      2.288728e-45
11      3.471762e-45
12      5.024798e-45
13      3.765095e-45
14      3.162394e-45
15      5.205221e-45
16      3.759873e-45
17      3.317154e-45
18      4.406127e-45
19      3.250566e-45
20      4.515158e-45
21      4.430672e-45
22      4.705957e-45
23      3.413277e-51
24      1.687936e-51
25      1.506950e-50
26      2.085265e-51
27      1.828520e-51
28      2.291805e-51
29      9.794684e-51
            ...
1211    1.848520e-45
1212    2.855895e-45
1213    1.013362e-45
1214    2.600681e-45
1215    1.263077e-45
1216    5.107822e-45
1217    1.490908e-45
1218    1.287163e-45
1219    1.056184e-45
1220    2.161437e-45
1221    2.721897e-45
1222    2.266582e-45
1223    9.181239e-45
1224    2.039528e-45
1225    1.804884e-45
1226    2.078996e-45
1227    1.116522e-45
1228    9.798676e-46
1229    1.128056e-45
1230    1.661034e-45
1231    2.121582e-45
1232    7.684400e-46
1233    1.166940e-45
1234    2.293182e-45
1235    1.359185e-45
1236    3.568560e-45
1237    5.470583e-45
1238    6.689213e-45
1239    1.321582e-45
1240    2.828261e-45
Name: LON, Length: 1241, dtype: float64

### Alimeamineto de indices en series

Cuando aplicamos una opracion entre series, esta se aplica entre los valores con los mismos indices en ambos objetos:

In [12]:
LLUVIA_2019.LON / LLUVIA_2019.LAT

0      -4.672744
1      -4.617997
2      -4.700584
3      -4.700967
4      -4.667664
5      -4.643804
6      -4.681849
7      -4.658302
8      -4.574417
9      -4.627000
10     -4.713440
11     -4.700260
12     -4.632124
13     -4.681312
14     -4.617794
15     -4.652471
16     -4.615542
17     -4.625659
18     -4.600025
19     -4.607038
20     -4.665702
21     -4.683090
22     -4.618903
23     -3.600780
24     -3.603308
25     -3.859061
26     -3.592948
27     -3.598255
28     -3.656365
29     -3.552794
          ...
1211   -4.548998
1212   -4.502719
1213   -4.566638
1214   -4.464096
1215   -4.525346
1216   -4.580590
1217   -4.452845
1218   -4.872782
1219   -4.642575
1220   -4.815430
1221   -4.107384
1222   -4.599923
1223   -4.584567
1224   -4.739675
1225   -4.325737
1226   -4.230059
1227   -4.261508
1228   -4.384160
1229   -4.635525
1230   -4.497934
1231   -4.650162
1232   -4.425697
1233   -4.819219
1234   -4.767335
1235   -4.744709
1236   -4.394602
1237   -4.525563
1238   -4.551553
1239   -4.786606
1240   -4.506608
Length: 1241, dtype: float64

El arreglo final contiene la union de los indices de ambos objetos:

In [14]:
LLUVIA_2019.LON.index | LLUVIA_2019.LAT.index

RangeIndex(start=0, stop=1241, step=1)

Si existe un indice que no aparece en uno u otro de los objetos el valor que se obtiene en los valores de los indices inexistentes es un NaN "Not a Number":

In [18]:
LLUVIA_2019.LON[:5] / LLUVIA_2019.LAT[3:5]

0         NaN
1         NaN
2         NaN
3   -4.700967
4   -4.667664
dtype: float64

Si se quiere evitar este resultado, se pueden llenar esos valores utilizando metodos apropiados sobre esos objetos. Por ejemplo;

In [21]:
LLUVIA_2019.LON[:5].add(LLUVIA_2019.LAT[3:5], fill_value=0)

0   -102.309722
1   -102.466944
2   -102.184167
3    -80.863055
4    -80.679444
dtype: float64

## Manipulando datos perdidos

## Indexado jerarquico

## Combinando conjuntos de datos: concat y append

## Combinando conjuntos de datos: merge and join

## Agregacion y agrupamiento

## Tablas pivote

## Operaciones con cadenas vectorizadas

## Trabajando con series de tiempo

## Pandas de alto rendimiento: eval() y query()

## Mas recursos