In [2]:
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import pyplot
import pandas as pd
import requests
import os

#### Clasificacion de las cantidades:

- Catergoricas

- Cuantitativa

#### Clasificacion de las variables:

- Continuas

- Discretas

In [14]:
url = 'https://www.indexmundi.com/map/?t=0&v=25&r=xx&l=en'
html = requests.get(url).content
tasanac = pd.read_html(html)[2]

In [20]:
pd.read_html??

In [36]:
tasanac.head()

         0                                     1     2
0  Country  Birth rate (births/1,000 population)  Year
1   Angola                                    44  2017
2    Niger                                    44  2017
3     Mali                                    44  2017
4   Uganda                                    43  2017

In [31]:
url1 = 'https://www.indexmundi.com/map/?t=0&v=35&r=xx&l=en'
html1 = requests.get(url1).content
tasavih = pd.read_html(html1)[2]

In [35]:
tasavih.head()

              0                                       1     2
0       Country  HIV/AIDS - people living with HIV/AIDS  Year
1  South Africa                                 7100000  2018
2       Nigeria                                 3200000  2018
3         India                                 2100000  2018
4    Mozambique                                 1800000  2018

In [33]:
url2 = 'https://www.indexmundi.com/map/?t=0&v=85&r=xx&l=en'
html2 = requests.get(url2).content
exportaciones = pd.read_html(html2)[2]

In [37]:
exportaciones.head()

               0                    1     2
0        Country  Exports (Billion $)  Year
1          China                 2157  2017
2  United States                 1576  2017
3        Germany                 1401  2017
4          Japan                  683  2017

In [39]:
url3 = 'https://www.indexmundi.com/map/?t=0&v=89&r=xx&l=en'
html3 = requests.get(url3).content
exportaciones = pd.read_html(html3)[2]

In [40]:
exportaciones

                                     0                    1     2
0                              Country  Imports (Billion $)  Year
1                        United States                 2352  2017
2                                China                 1731  2017
3                              Germany                 1104  2017
4                                Japan                  626  2017
5                       United Kingdom                  603  2017
6                               France                  576  2017
7                            Hong Kong                  561  2017
8                         Korea, South                  448  2017
9                               Canada                  444  2017
10                         Netherlands                  435  2017
11                               India                  427  2017
12                               Italy                  427  2017
13                              Mexico                  417  2017
14                               Spain                  333  2017
15                           Singapore                  310  2017
16                             Belgium                  306  2017
17                         Switzerland                  287  2017
18                              Taiwan                  273  2017
19                United Arab Emirates                  241  2017
20                              Poland                  222  2017
21                           Australia                  215  2017
22                              Russia                  213  2017
23                              Turkey                  197  2017
24                             Vietnam                  190  2017
25                            Thailand                  190  2017
26                            Malaysia                  163  2017
27                             Austria                  158  2017
28                              Sweden                  155  2017
29                              Brazil                  152  2017
..                                 ...                  ...   ...
167                             Bhutan                    1  2017
168                         Seychelles                    1  2017
169                             Belize                    1  2017
170                          Greenland                    1  2015
171                         Cape Verde                    1  2017
172                     Cayman Islands                    1  2017
173                         East Timor                    1  2016
174                            Burundi                    0  2017
175                        Saint Lucia                    0  2017
176                    Solomon Islands                    0  2015
177                Antigua and Barbuda                    0  2017
178           Central African Republic                    0  2017
179                              Samoa                    0  2014
180                              Tonga                    0  2017
181                        Gambia, The                    0  2017
182   Saint Vincent and the Grenadines                    0  2017
183                            Grenada                    0  2017
184              Saint Kitts and Nevis                    0  2017
185                            Vanuatu                    0  2017
186                      Guinea-Bissau                    0  2017
187                           Dominica                    0  2017
188                            Comoros                    0  2017
189                           Kiribati                    0  2013
190                              Palau                    0  2016
191                              Nauru                    0  2013
192                             Tuvalu                    0  2013
193              Sao Tome and Principe                    0  2017
194  Falkland Islands (Islas Malvinas)                    0  2004
195                      Liechtenstein                    0  2015
196                              Macau                    0  2014

[197 rows x 3 columns]

### Planteamiento de preguntas

In [46]:
tabulador = pd.read_excel('tabulador_pe2019.xls', header=9)

In [49]:
tabulador

,NIVEL,TIPO,PUESTO,SUELDO BASE,CUOTAS SEGURIDAD SOCIAL,PREVISIÓN SOCIAL,AYUDA X SERVICIOS,APOYO FAMILIAR,GRATIFICACIÓN QUINCENAL,SUELDO MENSUAL BRUTO,IMPTO MENSUAL,ISSEG,ISSSTE,SUELDO MENSUAL NETO,PRIMA VACACIONAL,AGUINALDO
0,22,NaN,GOBERNADOR/A DEL ESTADO,59804.327930,5843.070000,1913.1,25897,64294.837780,75373.99,233126.325711,69584.321342,5082.660000,760.410000,157698.934369,10 Días por Año,45 Días por Año
1,20,NaN,SECRETARIO/A DE ESTADO A,49025.945517,5843.070000,1913.1,22783,48858.839699,67187.62,195611.575216,56829.306173,5082.660000,760.410000,132939.199042,10 Días por Año,45 Días por Año
2,19,NaN,DIRECTOR/A GENERAL PARAESTATAL A,40685.951590,5843.070000,1913.1,18805,41397.705456,49230.82,157875.647046,43999.090596,5082.660000,760.410000,108033.486450,10 Días por Año,45 Días por Año
3,19,NaN,SECRETARIO/A DE ESTADO B,40685.951590,5843.070000,1913.1,18805,41397.705456,49230.82,157875.647046,43999.090596,5082.660000,760.410000,108033.486450,10 Días por Año,45 Días por Año
4,18,NaN,SECRETARIO/A DE ESTADO C,37083.708634,5843.070000,1913.1,16756,35924.238404,42651.90,140172.017038,37979.856393,5082.660000,760.410000,96349.090645,10 Días por Año,45 Días por Año
5,18,NaN,SUBSECRETARIO/A A,37083.708634,5843.070000,1913.1,16756,35924.238404,42651.90,140172.017038,37979.856393,5082.660000,760.410000,96349.090645,10 Días por Año,45 Días por Año
6,18,NaN,DIRECTOR/A GENERAL PARAESTATAL B,37083.708634,5843.070000,1913.1,16756,35924.238404,42651.90,140172.017038,37979.856393,5082.660000,760.410000,96349.090645,10 Días por Año,45 Días por Año
7,17,NaN,SUBSECRETARIO/A B,36196.185147,5843.070000,1913.1,15006,29739.459369,35311.60,124009.414516,32484.571535,5082.660000,760.410000,85681.772980,10 Días por Año,45 Días por Año
8,17,NaN,DIRECTOR/A GENERAL PARAESTATAL C,36196.185147,5843.070000,1913.1,15006,29739.459369,35311.60,124009.414516,32484.571535,5082.660000,760.410000,85681.772980,10 Días por Año,45 Días por Año
9,16,NaN,SUBSECRETARIO/A C,29462.206543,5621.674080,1913.1,10471,26559.244848,33446.67,107473.895470,26937.769673,4861.264080,760.410000,74914.451718,10 Días por Año,45 Días por Año
10,16,NaN,DIRECTOR/A GENERAL PARAESTATAL D,29462.206543,5621.674080,1913.1,10471,26559.244848,33446.67,107473.895470,26937.769673,4861.264080,760.410000,74914.451718,10 Días por Año,45 Días por Año
11,16,NaN,COORDINADOR/A GENERAL A,29462.206543,5621.674080,1913.1,10471,26559.244848,33446.67,107473.895470,26937.769673,4861.264080,760.410000,74914.451718,10 Días por Año,45 Días por Año
12,15,NaN,SUBSECRETARIO/A D,25790.604996,5015.859824,1913.1,8973,26293.675997,29531.30,97517.540818,23852.224718,4255.449824,760.410000,68649.456275,10 Días por Año,45 Días por Año
13,15,NaN,COORDINADOR/A GENERAL B,25790.604996,5015.859824,1913.1,8973,26293.675997,29531.30,97517.540818,23852.224718,4255.449824,760.410000,68649.456275,10 Días por Año,45 Días por Año
14,15,NaN,DIRECTOR/A GENERAL A,25790.604996,5015.859824,1913.1,8973,26293.675997,29531.30,97517.540818,23852.224718,4255.449824,760.410000,68649.456275,10 Días por Año,45 Días por Año
15,14,NaN,DIRECTOR/A DE AREA A,23736.496445,4628.616807,1913.1,6554,21043.662709,23042.95,80918.825960,18664.553729,3916.521913,712.094893,57625.655425,10 Días por Año,45 Días por Año
16,14,NaN,COORDINADOR/A GENERAL C,23736.496445,4628.616807,1913.1,6554,21043.662709,23042.95,80918.825960,18664.553729,3916.521913,712.094893,57625.655425,10 Días por Año,45 Días por Año
17,14,NaN,DIRECTOR/A GENERAL B,23736.496445,4628.616807,1913.1,6554,21043.662709,23042.95,80918.825960,18664.553729,3916.521913,712.094893,57625.655425,10 Días por Año,45 Días por Año
18,13,NaN,COORDINADOR/A DE PROGRAMAS,22680.796123,4422.755244,1913.1,4906,16798.836156,19519.33,70240.817524,15454.848684,3742.331360,680.423884,50363.213596,10 Días por Año,45 Días por Año
19,13,NaN,DIRECTOR/A DE AREA B,22680.796123,4422.755244,1913.1,4906,16798.836156,19519.33,70240.817524,15454.848684,3742.331360,680.423884,50363.213596,10 Días por Año,45 Días por Año
20,13,NaN,DIRECTOR/A GENERAL C,22680.796123,4422.755244,1913.1,4906,16798.836156,19519.33,70240.817524,15454.848684,3742.331360,680.423884,50363.213596,10 Días por Año,45 Días por Año
21,12,NaN,DIRECTOR/A DE AREA C,20354.485688,3969.124709,1913.1,4165,15981.245368,15967.94,62350.895766,13223.961317,3358.490139,610.634571,45157.809740,10 Días por Año,45 Días por Año
22,12,NaN,COORDINADOR/A DE PROYECTOS A,20354.485688,3969.124709,1913.1,4165,15981.245368,15967.94,62350.895766,13223.961317,3358.490139,610.634571,45157.809740,10 Días por Año,45 Días por Año
23,12,NaN,DIRECTOR/A GENERAL D,20354.485688,3969.124709,1913.1,4165,15981.245368,15967.94,62350.895766,13223.961317,3358.490139,610.634571,45157.809740,10 Días por Año,45 Días por Año
24,12,NaN,COORDINADOR/A ADMINISTRATIVO/A A,20354.485688,3969.124709,1913.1,4165,15981.245368,15967.94,62350.895766,13223.961317,3358.490139,610.634571,45157.809740,10 Días por Año,45 Días por Año
25,11,NaN,COORDINADOR/A DE PROYECTOS B,15406.683621,3004.303306,1913.1,3713,14561.559273,13537.17,52135.816200,10448.883868,2542.102798,462.200509,38682.629026,10 Días por Año,45 Días por Año
26,11,NaN,COORDINADOR/A OPERATIVO/A A,15406.683621,3004.303306,1913.1,3713,14561.559273,13537.17,52135.816200,10448.883868,2542.102798,462.200509,38682.629026,10 Días por Año,45 Días por Año
27,11,NaN,DIRECTOR/A DE AREA D,15406.683621,3004.303306,1913.1,3713,14561.559273,13537.17,52135.816200,10448.883868,2542.102798,462.200509,38682.629026,10 Días por Año,45 Días por Año
28,11,NaN,COORDINADOR/A ADMINISTRATIVO/A B,15406.683621,3004.303306,1913.1,3713,14561.559273,13537.17,52135.816200,10448.883868,2542.102798,462.200509,38682.629026,10 Días por Año,45 Días por Año
29,10,A,INSPECTOR/A A,12197.998857,2378.609777,1913.1,2741,15204.740200,9437.78,43873.228834,8157.815717,2012.669811,365.939966,33336.803340,10 Días por Año,45 Días por Año
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,6,NaN,ESPECIALISTA TECNICO/A C,6999.168402,1364.837838,1913.1,863,5469.561333,5026.42,21636.087573,3036.483623,1154.862786,209.975052,17234.766111,10 Días por Año,45 Días por Año
50,6,NaN,ADMINISTRADOR/A COMERCIAL A,6999.168402,1364.837838,1913.1,863,5469.561333,5026.42,21636.087573,3036.483623,1154.862786,209.975052,17234.766111,10 Días por Año,45 Días por Año
51,5,A,POLICIA TERCERO A,5298.129047,1033.135164,1913.1,785,6453.270563,2968.00,18450.634774,2426.922597,874.191293,158.943871,14990.577013,10 Días por Año,45 Días por Año
52,5,NaN,ESPECIALISTA ADMINISTRATIVO/A B,5298.129047,1033.135164,1913.1,785,4653.952461,2968.00,16651.316672,2042.588250,874.191293,158.943871,13575.593258,10 Días por Año,45 Días por Año
53,5,NaN,ESPECIALISTA TECNICO/A D,5298.129047,1033.135164,1913.1,785,4653.952461,2968.00,16651.316672,2042.588250,874.191293,158.943871,13575.593258,10 Días por Año,45 Días por Año
54,5,NaN,JEFE/A DE UNIDAD B,5298.129047,1033.135164,1913.1,785,4653.952461,2968.00,16651.316672,2042.588250,874.191293,158.943871,13575.593258,10 Días por Año,45 Días por Año
55,5,NaN,ADMINISTRADOR/A COMERCIAL B,5298.129047,1033.135164,1913.1,785,4653.952461,2968.00,16651.316672,2042.588250,874.191293,158.943871,13575.593258,10 Días por Año,45 Días por Año
56,4,A,POLICIA,4592.879978,895.611596,1913.1,450,6560.085291,936.54,15348.216866,1793.621166,757.825196,137.786399,12658.984104,10 Días por Año,45 Días por Año
57,4,NaN,ESPECIALISTA TECNICO/A E,4564.185105,890.016096,1913.1,450,3599.725827,936.54,12353.567028,1173.958791,753.090542,136.925553,10289.592141,10 Días por Año,45 Días por Año
58,4,NaN,ESPECIALISTA ADMINISTRATIVO/A C,4564.185105,890.016096,1913.1,450,3599.725827,936.54,12353.567028,1173.958791,753.090542,136.925553,10289.592141,10 Días por Año,45 Días por Año
59,4,NaN,ESPECIALISTA DE SERVICIOS,4564.185105,890.016096,1913.1,450,3599.725827,936.54,12353.567028,1173.958791,753.090542,136.925553,10289.592141,10 Días por Año,45 Días por Año
60,4,NaN,ADMINISTRADOR/A COMERCIAL C,4564.185105,890.016096,1913.1,450,3599.725827,936.54,12353.567028,1173.958791,753.090542,136.925553,10289.592141,10 Días por Año,45 Días por Año
61,3,NaN,OPERADOR/A COMERCIAL A,4129.411442,805.235231,1913.1,450,3347.786733,795.03,11440.563407,1025.541273,681.352888,123.882343,9609.786902,10 Días por Año,45 Días por Año
62,3,NaN,OPERADOR/A TECNICO/A A,4129.411442,805.235231,1913.1,450,3347.786733,795.03,11440.563407,1025.541273,681.352888,123.882343,9609.786902,10 Días por Año,45 Días por Año
63,3,NaN,OPERADOR/A DE SERVICIOS A,4129.411442,805.235231,1913.1,450,3347.786733,795.03,11440.563407,1025.541273,681.352888,123.882343,9609.786902,10 Días por Año,45 Días por Año
64,3,NaN,OPERADOR/A ADMINISTRATIVO/A A,4129.411442,805.235231,1913.1,450,3347.786733,795.03,11440.563407,1025.541273,681.352888,123.882343,9609.786902,10 Días por Año,45 Días por Año
65,3,NaN,CADETE EN FORMACION A,4129.411442,805.235231,1913.1,450,3347.786733,795.03,11440.563407,1025.541273,681.352888,123.882343,9609.786902,10 Días por Año,45 Días por Año
66,2,NaN,OPERADOR/A TECNICO/A B,3732.062858,727.752257,1913.1,450,2825.625180,135.31,9783.850296,761.262086,615.790372,111.961886,8294.835952,10 Días por Año,45 Días por Año
67,2,NaN,OPERADOR/A COMERCIAL B,3732.062858,727.752257,1913.1,450,2825.625180,135.31,9783.850296,761.262086,615.790372,111.961886,8294.835952,10 Días por Año,45 Días por Año
68,2,NaN,OPERADOR/A DE SERVICIOS B,3732.062858,727.752257,1913.1,450,2825.625180,135.31,9783.850296,761.262086,615.790372,111.961886,8294.835952,10 Días por Año,45 Días por Año
69,2,NaN,OPERADOR/A ADMINISTRATIVO/A B,3732.062858,727.752257,1913.1,450,2825.625180,135.31,9783.850296,761.262086,615.790372,111.961886,8294.835952,10 Días por Año,45 Días por Año
70,2,NaN,CADETE EN FORMACION B,3732.062858,727.752257,1913.1,450,2825.625180,135.31,9783.850296,761.262086,615.790372,111.961886,8294.835952,10 Días por Año,45 Días por Año
71,1,NaN,OPERADOR/A COMERCIAL C,3374.277535,657.984119,1913.1,450,2364.753825,34.39,8794.505479,639.354852,556.755793,101.228326,7497.166508,10 Días por Año,45 Días por Año
72,1,NaN,OPERADOR/A TECNICO/A C,3374.277535,657.984119,1913.1,450,2364.753825,34.39,8794.505479,639.354852,556.755793,101.228326,7497.166508,10 Días por Año,45 Días por Año
73,1,NaN,OPERADOR/A DE SERVICIOS C,3374.277535,657.984119,1913.1,450,2364.753825,34.39,8794.505479,639.354852,556.755793,101.228326,7497.166508,10 Días por Año,45 Días por Año
74,1,NaN,OPERADOR/A ADMINISTRATIVO/A C,3374.277535,657.984119,1913.1,450,2364.753825,34.39,8794.505479,639.354852,556.755793,101.228326,7497.166508,10 Días por Año,45 Días por Año
75,1,A,OPERADOR/A ADMINISTRATIVO/A D,3080.400000,600.678000,1913.1,450,1572.330000,0.00,7616.508000,263.883632,508.266000,92.412000,6751.946368,10 Días por Año,45 Días por Año
76,1,A,OPERADOR/A DE SERVICIOS D,3080.400000,600.678000,1913.1,450,1572.330000,0.00,7616.508000,263.883632,508.266000,92.412000,6751.946368,10 Días por Año,45 Días por Año
77,1,A,OPERADOR/A COMERCIAL D,3080.400000,600.678000,1913.1,450,1572.330000,0.00,7616.508000,263.883632,508.266000,92.412000,6751.946368,10 Días por Año,45 Días por Año
78,1,A,OPERADOR/A TECNICO/A D,3080.400000,600.678000,1913.1,450,1572.330000,0.00,7616.508000,263.883632,508.266000,92.412000,6751.946368,10 Días por Año,45 Días por Año

#### Preguntas que se pueden responder con esta base de datos

Cuanto se gana anualmente por puesto?

Cual es la relacion entre el nivel del puesto y el sueldo base, ayuda por servicios o apoyos familiares?

Cual es el promedio de cada categoria?

Cual es la diferencia entre la media de cada categoria y cada valor por cada clase?

Cuales niveles incluyen el 25%, 50% y 75% del sueldo total asignado?

El sueldo base se puede describir con una funcion mediante un ajuste estadistico?

El sueldo base es proporcional al nivel que se tiene? Lo mismo para cada categoria

Existe alguna distribucion en los sueldos base? Como es esta distribucion?

Se tienen suficientes datos para obtener buena estadistica?

#### Preguntas que podrian responderse con informacion complementaria

Cual ha sido la tasa de aumento en el sueldo base con respecto a las administraciones pasadas?

Es justo percibir el sueldo asignado a cada nivel?

Es necesario percibir el sueldo asignado a cada nivel?

Cual es la diferencia entre la media del sueldo base en Gto con otros estados?